.container{
	margin: 15px;
	padding: 15px;
}

div.col-sm-6{
	padding:15px 35px;
}

div>a {
    color: #ed635f
}

a:link{
  text-decoration: none;
  font-weight: bold;
  color: #ed635f
}

a:visited
{
  text-decoration: none;
  font-weight: bold;
  color: #ed5fa2
}

img {
  border-radius: 100%;
  box-shadow: 3px 3px 15px grey;
  display: block;
  margin: auto;
}

h3{
	color:white;
	background-color: #ed635f;
	margin: 15px;
	padding: 15px;
	border-radius: 25px;
	box-shadow: 3px 3px 15px grey;
	/*border: 2px solid #ed635f;
	color:#ed635f;*/
}

i{
	color:#ed635f;
}

img {
    max-width: 100%;
    height: auto;
}

.icon{
	margin:15px 3px;
}

button{
	text-align: center;
	color: #ed635f;
	border-radius: 25px;
	border: 2px solid #ed635f;
	background-color: white;
	margin: 15px;
	padding: 15px;
	box-shadow: 3px 3px 15px grey;
}
