* {
    box-sizing: border-box;
}

body {
    background-color: #ed635f;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #4c4c4c;
}

div {
    min-width: 300px;
    max-width: 600px;
    margin:auto;
	background-color: rgba(255, 255, 255, .7);
}

div>ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 40px;
  text-align: left;
  padding-bottom: 10px;
}

div>a {
    color: #ed635f
}

a:link{
	text-decoration: none;
}

img {
	border-radius:100%;
	display: block;
    margin: auto;
    width: 75%;
}

h1 {
	color: rgba(255, 255, 255, .95);
	padding-top: 20px;
}

h2{
	padding:8px;
	background-color: rgba(237, 99, 95,.9);
}

h1,h2,h4,h6{
	font-family: 'Roboto', sans-serif;
}

button{
    background-color: rgba(255, 255, 255, .5);
    color:#ed635f;
}

button>a{
	color: #ed635f;
}

#noborder{
    background-color: rgba(255, 255, 255, 0);
    padding: 20px 0px;
}

#intro{
	padding:45px 55px 20px 55px;
}

#intro>h2{
	background-color: #f4de5b;
}

#yellowheader>h2 {
	background-color: #f4de5b;
}

#redheader>h2{
	color: rgba(255, 255, 255, .85);
}

#redheader>h2{
  color: rgba(255, 255, 255, .85);
}

#yellowbutton{
  border: 3px solid white;
  background-color: #f4de5b;
  color:rgba(255, 255, 255, .7);
}

#redbutton{
  border: 3px solid white;
  background-color: #ed635f;
  color:white;
}

#greybutton{
  border: 3px solid rgba(255, 255, 255, 1);
  background-color: #4c4c4c;
  color:rgba(255, 255, 255, 1);
}

.slideshow-container {
  max-width: 75%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0)
}

.mySlides {
    display: none;
    background-color: rgba(255, 255, 255, 0)
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.25s;
  animation-name: fade;
  animation-duration: 1.25s;
  background-color: none;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
